{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top: 5rem;">
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="title">Judul Artikel:</label>
          <input type="text" name="judul" class="form-control" value="{{artikel.judul}} " id="title" placeholder="Masukkan judul artikel">
        </div>
        <div class="form-group">
          <label for="content">Isi Artikel:</label>
          <textarea class="form-control" name="isi" id="content" rows="5"> {{artikel.isi}}</textarea>
        </div>
        <div class="form-group">
          <label for="category">Kategori:</label>
          <select class="form-control" id="category" name="kategori">
            {% for k in kategori  %}
                {% if artikel.kategori.id ==  k.id %}
                    <option value="{{ k.id }}">{{ k.nama }}</option>
                {% else %}
                    <option value="{{ k.id }}">{{ k.nama }}</option>
                {% endif %}
            {% endfor %}
          </select>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Kirim</button>
      </form>
</div>
{% endblock content %}
    