<div class="col-md-4">
    <h3>Kategori</h3>
    <ul class="list-unstyled">
        {% for k in kategori  %}
        <li><a href="{% url 'artikel_filter' k.nama %}">{{ k.nama }}</a></li>
        {% endfor %}
    </ul>
    <hr>
    <h3>Artikel Terbaru</h3>
    <ul class="list-unstyled">
        {% for artikel in artikel_terbaru %}
        <li><a href="{% url 'artikel_lihat' artikel.id %}">{{ artikel.judul }}</a></li>
        {% endfor %}
    </ul>
</div>