{% extends 'base.html' %}

{% block content %}
<div class="container" style="margin-top:5rem">
    <div class="row">
        <div class="col-md-8">
            <h1>{{artikel.judul}}</h1>
            <p class="text-muted">{{ artikel.kategori }}</p>
            {% comment %} <img src="gambar-artikel.jpg" class="img-fluid" alt="Gambar Artikel"> {% endcomment %}
            <p>{{ artikel.isi }}</p>
            <a class="btn btn-warning" href="{% url 'artikel_edit' artikel.id %}">edit</a>
            <a class="btn btn-danger" href="{% url 'artikel_delete' artikel.id %}">delete</a>
        </div>
        {% include 'artikel/kategori.html' %}
    </div>
</div>
{% endblock content %}
    