{% extends 'base.html' %}


{% block content %}
<div class="container" style="margin-top: 2rem;">
    <a class="btn btn-info" href="{% url 'artikel_tambah' %}">+ artikel</a>
</div>
<div class="container" style="margin-top:5rem">
    <div class="row">
        {% for artikel in artikel_list %}
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"> {{artikel.id}} . {{ artikel.judul }}</h5>
                        <h6 class="card-subtitle text-center" style="color: red;">{{ artikel.kategori }}</h6>
                        <p class="card-text">{{ artikel.isi | truncatewords:"40" }}</p>
                        <p>{{ artikel.terbit }} </p>
                        
                        {% if artikel.is_api %}
                            <a href="{{ artikel.url }}" class="card-link">Read More ...</a>
                        {% else %}
                            <a href="{% url 'artikel_lihat' artikel.id %}" class="card-link">Read More ...</a>
                            
                        {% endif %}
                            
                    </div>
                </div>
            </div>
        {% endfor %}
        {% include 'artikel/kategori.html' %}
    </div>
</div>
{% endblock content %}
    